<div class="container item">
  <div class="row justify-content-center my-4">
    <div class="col-md">
      <h5>About Nook's Shop</h5>
      <p>
        Nooks Shop is a frontend web application built using Angular and
        Bootstrap. Nook's shop is largely inspired by Nook's cranny from the
        game Animal Crossing: New Horizons. Nook's Cranny is a store run by the
        twins Timmy and Tommy where the player can purchase items such as
        furniture, tools, and native fruit. It also functions as a pawnbroker,
        allowing the player to sell unwanted items and receive payment for them.
        All items displayed can be found and purchased in Nook's Cranny (if you play the game,
        of course).
      </p>
      <figure class="figure">
        <img
          class="figure-img img-fluid"
          src="https://dodo.ac/np/images/4/48/NH_Nook%27s_Cranny_Upgraded_Exterior.jpg"
        />
        <figcaption class="figure-caption">Nook's Cranny in-game.</figcaption>
      </figure>
    </div>
  </div>
</div>
